<ion-header [translucent]="true">
  <ion-toolbar class="header-dashboard">
    <ion-buttons slot="start">
      <ion-menu-button color="strong"></ion-menu-button>
    </ion-buttons>
    <ion-title>Produk</ion-title>
  </ion-toolbar>

  <ion-toolbar class="toolbar-pencarian">
    <ion-searchbar placeholder="Cari nama atau kategori..." class="custom-searchbar" animated="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produk</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="wadah-tombol ion-margin-top">
    <ion-button type="submit" class="tombol-tambah" routerLink="/produkform">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Tambah Produk
    </ion-button>
  </div>

  <ion-card *ngFor="let barang of items" class="card-produk">
    <img alt="{{barang.nama}}" src="{{barang.gambar}}" />
    <ion-card-header>
      <ion-card-title>{{barang.nama}}</ion-card-title>
      <ion-card-subtitle>Rp. {{barang.hargaJual}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Stok: {{barang.stok}}
    </ion-card-content>
    <ion-button type="button" class="tombol-edit" routerLink="/produkform/{{barang.produkId}}">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      Edit
    </ion-button>
  </ion-card>
</ion-content>