<ion-header [translucent]="true">
  <ion-toolbar class="header-toko">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="edit">Edit Produk</ion-title>
    <ion-title *ngIf="!edit">Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background-toko">

  <form *ngIf="produkForm" [formGroup]="produkForm" (ngSubmit)="simpanProduk()">

    <div class="form-group">
      <ion-item class="custom-input" [class.input-error]="isSalah('nama')">
        <ion-label position="floating">
          Nama Produk <span class="wajib">*</span>
        </ion-label>
        <ion-input formControlName="nama" type="text"></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="isSalah('nama')">
        <p class="error-text">Nama produk wajib diisi dan tidak boleh angka.</p>
      </div>
    </div>

    <div class="form-group">
      <ion-item class="custom-input" [class.input-error]="isSalah('hargaJual')">
        <ion-label position="floating">
          Harga Jual (Rp) <span class="wajib">*</span>
        </ion-label>
        <ion-input formControlName="hargaJual" type="number"></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="isSalah('hargaJual')">
        <p class="error-text">Harga jual minimal Rp 1.</p>
      </div>
    </div>

    <div class="form-group">
      <ion-item class="custom-input" [class.input-error]="isSalah('stok')">
        <ion-label position="floating">
          Jumlah Stok <span class="wajib">*</span>
        </ion-label>
        <ion-input formControlName="stok" type="number"></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="isSalah('stok')">
        <p class="error-text">Stok tidak boleh negatif.</p>
      </div>
    </div>

    <div class="form-group">
      <ion-item class="custom-input" [class.input-error]="isSalah('kategori')">
        <ion-label position="floating">
          Kategori <span class="wajib">*</span>
        </ion-label>
        <ion-input formControlName="kategori" type="text"></ion-input>
      </ion-item>
      <div class="error-container" *ngIf="isSalah('kategori')">
        <p class="error-text">Kategori wajib diisi dan tidak boleh angka.</p>
      </div>
    </div>

    <ion-button expand="block" type="submit" class="tombol-simpan ion-margin-top">
      <ion-text *ngIf="!edit">SIMPAN PRODUK</ion-text>
      <ion-text *ngIf="edit">EDIT PRODUK</ion-text>
    </ion-button>
  </form>
</ion-content>