<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="font-weight: bold">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button defaultHref="/produk" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="edit">Edit Produk</ion-title>
    <ion-title *ngIf="!edit">Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form *ngIf="produkForm" [formGroup]="produkForm" (ngSubmit)="simpanProduk()">
    <!-- NAMA PRODUK -->
    <div style="margin-bottom: 16px">
      <ion-item class="form-item" [ngStyle]="{ border: isSalah('nama') ? '2px solid crimson' : '2px solid lightgray' }">
        <ion-label position="floating" style="font-weight: 600; color: darkslategray">
          Nama Produk <span style="color: crimson">*</span>
        </ion-label>
        <ion-input formControlName="nama" type="text"></ion-input>
      </ion-item>
      <div *ngIf="isSalah('nama')" style="padding: 6px 8px 0 8px">
        <p class="error-text">
          Nama produk wajib diisi dan tidak boleh angka.
        </p>
      </div>
    </div>

    <!-- INPUT URL GAMBAR -->
    <div style="margin-bottom: 16px">
      <ion-item class="form-item" style="border: 2px solid lightgray;">
        <ion-label position="floating" style="font-weight: 600; color: darkslategray">URL Gambar Produk
          (Opsional)</ion-label>
        <ion-input formControlName="gambar" type="text" placeholder="https://..."></ion-input>
      </ion-item>
    </div>

    <!-- PREVIEW GAMBAR -->
    <div style="text-align: center; margin: 16px 0 24px 0">
      <ion-label class="preview-label">Preview Gambar</ion-label>
      <img [src]="produkForm.get('gambar')?.value ? produkForm.get('gambar')?.value : 'assets/no_image.png'"
        class="preview-img" alt="Preview Produk" />
    </div>

    <!-- HARGA BELI -->
    <div style="margin-bottom: 16px">
      <ion-item
        class="form-item"
        [ngStyle]="{ border: isSalah('hargaBeli') ? '2px solid crimson' : '2px solid lightgray' }">
        <ion-label position="floating" style="font-weight: 600; color: darkslategray">
          Harga Beli (Rp) <span style="color: crimson">*</span>
        </ion-label>
        <ion-input formControlName="hargaBeli" type="number"></ion-input>
      </ion-item>
      <div *ngIf="isSalah('hargaBeli')" style="padding: 6px 8px 0 8px">
        <p class="error-text">
          Harga beli minimal Rp 1.
        </p>
      </div>
    </div>

    <!-- HARGA JUAL -->
    <div style="margin-bottom: 16px">
      <ion-item class="form-item"
        [ngStyle]="{ border: isSalah('hargaJual') ? '2px solid crimson' : '2px solid lightgray' }">
        <ion-label position="floating" style="font-weight: 600; color: darkslategray">
          Harga Jual (Rp) <span style="color: crimson">*</span>
        </ion-label>
        <ion-input formControlName="hargaJual" type="number"></ion-input>
      </ion-item>
      <div *ngIf="isSalah('hargaJual')" style="padding: 6px 8px 0 8px">
        <p class="error-text">
          Harga jual minimal Rp 1.
        </p>
      </div>
    </div>

    <!-- JUMLAH STOK -->
    <div style="margin-bottom: 16px">
      <ion-item class="form-item" [ngStyle]="{ border: isSalah('stok') ? '2px solid crimson' : '2px solid lightgray' }">
        <ion-label position="floating" style="font-weight: 600; color: darkslategray">
          Jumlah Stok <span style="color: crimson">*</span>
        </ion-label>
        <ion-input formControlName="stok" type="number"></ion-input>
      </ion-item>
      <div *ngIf="isSalah('stok')" style="padding: 6px 8px 0 8px">
        <p class="error-text">
          Stok tidak boleh negatif.
        </p>
      </div>
    </div>

    <!-- KATEGORI -->
    <div style="margin-bottom: 16px">
      <ion-item class="form-item"
        [ngStyle]="{ border: isSalah('kategori') ? '2px solid crimson' : '2px solid lightgray' }">
        <ion-label position="floating" style="font-weight: 600; color: darkslategray">
          Kategori <span style="color: crimson">*</span>
        </ion-label>
        <ion-input formControlName="kategori" type="text"></ion-input>
      </ion-item>
      <div *ngIf="isSalah('kategori')" style="padding: 6px 8px 0 8px">
        <p class="error-text">
          Kategori wajib diisi dan tidak boleh angka.
        </p>
      </div>
    </div>

    <ion-button expand="block" type="submit" class="ion-margin-top submit-btn" color="primary">
      <ion-text *ngIf="!edit">SIMPAN PRODUK</ion-text>
      <ion-text *ngIf="edit">EDIT PRODUK</ion-text>
    </ion-button>
  </form>
</ion-content>