$warna-hijau-toko: #1e7e34;
$warna-kuning-toko: #ffc107;

// Header Hijau Utama
.header {
  --background: #{$warna-hijau-toko};
  --color: #ffffff;
  
   ion-title {
    font-size: 19px;
    font-weight: 700;
    color: $warna-kuning-toko; // Tulisan berwarna kuning padat
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}
